@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-a: rgb(26, 32, 0);
  --background-b: rgb(69, 86, 0);
  --foreground: rgb(242, 249, 211);
  --primary-a: rgb(163, 197, 28);
  --primary-b: rgb(187, 234, 0);
  font-size: small;
}

.primary {
  color: var(--background-a);
  background-color: var(--primary-a);
}

body {
  color: var(--foreground);
  background: var(--background-a);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--background-a);
  background-color: var(--primary-a);

  &:hover {
    background: var(--primary-b);
  }
}

#abilities > div {
  background-color: var(--background-b);

  button {
    width: 100%;
  }

  p {
    text-align: center;
    margin: 0.5rem;
  }
}

#traits > div {
  display: flex;
  background-color: var(--background-b);

  p {
    padding: 0.5rem 1rem;
  }
}
